<div id="map" class="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFauPb-2KMpvawQdAHogYpUvwFfmQccAw&callback=initMap" async defer></script>
<script>
  var map;
  var marker;
  var existingTargets = '<%= raw targets.to_json %>';

  function initMap() {
    var myLatlng = { lat: -34.9067557, lng: -56.2006151 };

    map = new google.maps.Map(document.getElementById('map'), {
      center: myLatlng,
      zoom: 16
    });

    showCurrentLocation();

    map.addListener('click', function(e) {
      placeMarkerAndPanTo(e.latLng, map);
      loadFormLatLng(e.latLng);
    });

    loadExistingTargets();
  }

  function hideSelectedMarker() {
    if (marker) {
      marker.setMap(null);
    }
    document.getElementById('target_latitude').value = null;
    document.getElementById('target_longitude').value = null;
  }

  function placeMarkerAndPanTo(latLng, map) {
    hideSelectedMarker();
    var iconUrl = '<%= Rails.application.config.app_icons_base_url %>current-marker.png';
    marker = new google.maps.Marker({
      position: latLng,
      animation: google.maps.Animation.DROP,
      icon: iconUrl,
      map: map
    });
    map.panTo(latLng);
  }

  function loadFormLatLng(latLng) {
    document.getElementById('target_latitude').value = latLng.lat().toFixed(15);
    document.getElementById('target_longitude').value = latLng.lng().toFixed(15);
  }

  function loadExistingTargets() {
    var targetList = JSON.parse(existingTargets);
    for (var i = 0; i < targetList.length; i++) {
      var target = targetList[i];
      var pos = { lat: parseFloat(target.latitude), lng: parseFloat(target.longitude) };
      addTargetCircle(pos, target.size);
      addTargetTopic(pos, target.topic);
    }
  }

  function addTargetCircle(pos, size) {
    var circle = new google.maps.Circle({
        strokeColor: '#efc537',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#efc537',
        fillOpacity: 0.35,
        map: map,
        center: pos,
        radius: size
      });
  }

  function addTargetTopic(pos, topic) {
    var iconUrl;
    $.ajax({
        dataType: "json",
        async: false,
        url: "targets/topic_icon?topic=" + topic,
        success: function(data){
          iconUrl = '<%= Rails.application.config.app_icons_base_url %>' + data.icon;
        }
    });
    if (iconUrl) {
      var icon = {
        url: iconUrl,
        scaledSize: new google.maps.Size(25, 25),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(13, 13)
      };
      var topicIcon = new google.maps.Marker({
        map: map,
        position: pos,
        icon: icon,
      });
    }
  }

  function showCurrentLocation() {
    infoWindow = new google.maps.InfoWindow;
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        infoWindow.setPosition(pos);
        infoWindow.setContent('<%=I18n.t(:maps_location_found)%>');
        infoWindow.open(map);
        map.setCenter(pos);
      });
    }
  }
</script>
