<div class="white-line-20"></div>

<%= image_tag("group-copy-mix.png", class: "sidebar-img-circle") %>

<h3 class="sidebar-username">username</h3>
<h3 class="sidebar-logout"><a href="#" class="sidebar-edit"><%=t(:edit)%></a> / <a href="#"><%=t(:logout)%></a> </h3>
