<div class="white-line-20"></div>

<%= image_tag("group-copy-mix.png", class: "Group-Copy") %>

<h3 class="sidebar-username">username</h3>
<h3 class="sidebar-logout"><a href="#" class="sidebar-edit">Edit</a> / <a href="#">Logout</a> </h3>
