<%= image_tag("user-default-avatar.png", class: "sidebar-img-circle") %>

<h3 class="sidebar-username">username</h3>
<h3 class="sidebar-logout"><a href="#" class="sidebar-edit"><%=I18n.t(:edit)%></a> / <a href="#"><%=I18n.t(:logout)%></a> </h3>
