@import 'target-variables';

.white-line-20 {
  margin-top: 20px;
}

.bottom-center {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
}

.container-full-size {
  height: 100%;
  width: 100%;
  position: absolute;
}

#custom-alert {
  float: right;
  position: absolute;
  z-index: 1;
  width: 20%;
  top: 1em;
  right: 1em;
}
