@import 'target-variables';

.bottom-center {
  bottom: 20px;
  margin: 0 auto;
  position: absolute;
}

.container-full-size {
  height: 100%;
  position: absolute;
  width: 100%;
}

.container-row { height: inherit; }
