//------------------------------------
// # COLOR PALETTE
//------------------------------------
$black: #000;
$black-two: #212121;
$bright-sky-blue: #2fbcf7;
$dark-blue: rgba(42, 119, 152, .8);
$dark-gray: #4a4a4a;
$font-family-base: 'Open Sans';
$gray: #efefef;
$macaroni-and-cheese-70: rgba(239, 197, 55, .7);
$macaroni-and-cheese-70-two: rgba(239, 198, 56, .7);
$red-warning: #d43f3a;
$shadow: rgba(0, 0, 0, .3);
$white: #fff;
