/* COLOR PALETTE */
:root {
    --black: #000000;
    --bright-sky-blue: #2fbcf7;
    --gray: #efefef;
    --black-two: #212121;
    --macaroni-and-cheese-70-two: rgba(239, 198, 56, 0.7);
    --macaroni-and-cheese-70: rgba(239, 197, 55, 0.7);
}


/* TEXT STYLES */
.Text-Style {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #000000;
    color: var(--black);
}

.Text-Style-2 {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    color: #ffffff;
}


/* GENERAL */
.close {
    width: 24px;
    height: 24px;
    background-color: #000000;
    background-color: var(--black);
}

.overlay {
    background-color: rgba(42, 119, 152, 0.8);
}


/* MAP */
#map {
    width: 1009px;
    height: 768px;
}


/* SIDEBAR */
.menu-icon {
    width: 20.3px;
    height: 13.5px;
    color: #000000;
    margin-left: 20px;
}

.smilies {
    object-fit: contain;
    position: absolute;
    bottom: 20px;
    display: block;
    left: 43%;
}

.sidebar-target-title {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    color: #000000;
    color: var(--black);
    display: inline;
    margin-left: 91px;
}

.sidebar-username {
    width: 135.5px;
    height: 19px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.1px;
    text-align: center;
    color: #000000;
    color: var(--black);
    margin: 10px auto;
}

.sidebar-logout {
    width: 98px;
    height: 17px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #4a4a4a;
    margin: 5px auto;
    display: block;
  }
  
.sidebar-logout .sidebar-edit {
    font-weight: bold;
    color: #2fbcf7;
    color: var(--bright-sky-blue);
}

.Line {
    width: 121px;
    height: 0.5px;
    border: solid 0.5px #000000;
    border: solid 0.5px var(--black);
    margin: 30px auto 0 auto;
}


/* RECTANGLES */
.Rectangle {
    width: 683px;
    height: 768px;
    background-color: #2fbcf7;
    background-color: var(--bright-sky-blue);
}

.Rectangle-2 {
    width: 357px;
    height: 765px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.Rectangle-3 {
    width: 357px;
    height: 768px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.Rectangle-4 {
    width: 324px;
    height: 552px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

/* Ovals and target */
.Oval {
    width: 57.8px;
    height: 57.8px;
    background-color: rgba(239, 198, 56, 0.7);
    background-color: var(--macaroni-and-cheese-70-two);
}

.Oval-Copy {
    width: 61px;
    height: 60.9px;
    background-color: rgba(239, 198, 56, 0.7);
    background-color: var(--macaroni-and-cheese-70-two);
}

.Oval-Copy-2 {
    width: 46.2px;
    height: 46.2px;
    background-color: rgba(239, 198, 56, 0.7);
    background-color: var(--macaroni-and-cheese-70-two);
}

.Oval-Copy-3 {
    width: 53.6px;
    height: 53.6px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #efc638;
}

.Oval-Copy-4 {
    width: 71.5px;
    height: 71.4px;
    background-color: rgba(239, 198, 56, 0.7);
    background-color: var(--macaroni-and-cheese-70-two);
}

.Oval-Copy-5 {
    width: 123.4px;
    height: 123.4px;
    object-fit: contain;
    background-blend-mode: multiply;
    background-image: linear-gradient(#2fbcf7, #2fbcf7);
    background-image: linear-gradient(var(--bright-sky-blue), var(--bright-sky-blue));
}

.Page-1 {
    width: 17.9px;
    height: 17.9px;
    background-color: #000000;
    background-color: var(--black);
}

.Page-1-Copy {
    width: 44px;
    height: 52px;
    object-fit: contain;
}

.Page-1-Copy-2 {
    width: 83px;
    height: 83px;
    object-fit: contain;
}

.Group-Copy {
    width: 125px;
    height: 124px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.Fill-1 {
    width: 20.1px;
    height: 19.5px;
    background-color: #000000;
    background-color: var(--black);
}

.Fill-3 {
    width: 17.4px;
    height: 23px;
    background-color: #000000;
    background-color: var(--black);
}

.Fill-4 {
    width: 14.1px;
    height: 14.1px;
    background-color: #ffffff;
}

.Fill-6 {
    width: 6.2px;
    height: 6.1px;
    background-color: #000000;
    background-color: var(--black);
}
