/* COLOR PALETTE */
$black: #000000;
$black-two: #212121;
$bright-sky-blue: #2fbcf7;
$dark-blue: rgba(42, 119, 152, 0.8);
$dark-gray: #4a4a4a;
$font-family-base: 'Open Sans';
$gray: #efefef;
$macaroni-and-cheese-70: rgba(239, 197, 55, 0.7);
$macaroni-and-cheese-70-two: rgba(239, 198, 56, 0.7);
$shadow: rgba(0, 0, 0, 0.3);
$white: #ffffff;
