@import 'target-variables';

//------------------------------------
// # GENERAL
//------------------------------------
body,
html {
  font-family: $font-family-base;
}

.close {
  background-color: $black;
  height: 24px;
  width: 24px;
}

.overlay {
  background-color: $dark-blue;
}


//------------------------------------
// # MAP
//------------------------------------
.map {
  height: 100%;
  min-height: 500px;
  width: 100%;
}


//------------------------------------
// # SIDEBAR
//------------------------------------
.sidebar-menu-icon {
  color: $black;
  display: block;
  height: 13.5px;
  margin-left: 20px;
  margin-top: 20px;
  width: 20.3px;
}

.smilies-bottom {
  display: flex;
  margin: 0 auto 20px;
  object-fit: contain;
  position: inherit;
}

.smilies-main {
  margin: 0 auto;
  object-fit: contain;
  position: relative;
  top: 50px;
}

.line {
  border: solid .5px $black;
  height: .5px;
  margin: 30px auto 20px;
  width: 121px;
}

.sidebar-img-circle {
  display: block;
  height: 124px;
  margin: 20px auto 0;
  object-fit: contain;
  width: 125px;
}


//------------------------------------
// # USER FORMS
//------------------------------------
.user-form-errors {
  margin: 0 auto;
  width: 75%;
}


//------------------------------------
// # STATIC SIDE
//------------------------------------
.static-side {
  background-color: $bright-sky-blue;
}

.static-phone {
  display: block;
  margin: 0 auto;
  margin-top: 16%;
}
